{block content}
<div class="card normal-card">
	{control grid}
</div>
{/block}
{block menu}
<nav>
	<a class="cards icon-button" n:href="Homepage:default" data-toggle="tooltip" data-placement="right" title="Úvodní stránka školních dat">Úvodní stránka školních dat</a>
</nav>
{/block}
{block scripts}
{include parent}
{/block}
