{block content}
<div class="card normal-card">
	{control grid}
</div>
{/block}
{block menu}
<nav>
	<a class="back icon-button" n:href="Homepage:default" data-toggle="tooltip" data-placement="right" title="Zpět">Zpět</a>
	<a class="new icon-button" n:href="add" role="button" data-toggle="tooltip" data-placement="right" title="Vytvoření nového námětu">Nový</a>
</nav>
{/block}
