<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$theme}</title>
</head>
<body>
    <style>
        body {l}
            font-family: Arial, sans-serif;
            font-weight: light;
        {r}
    </style>
    <table border="0" cellpadding="0" cellspacing="0" style="max-width: 800px; margin: 10px auto; font-family: sans-serif; font-weight: light;">
        <thead>
            <tr>
                <td style="text-align: center; vertical-align: center; height: 100px; background-color: #2196F3;">
                    <h1 style="font-weight: 100; color: white">pslib</h1>
                </td>
            </tr>
        </thead>
        <tbody>
{include content}
        </tbody>
        <tfoot>
            <tr>
                <td style="text-align: center; vertical-align: center; background-color: #2196F3;">
                    <p style="font-weight: 100; color: white">Prosíme, na tento mail neodpovídejte.</p>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
