{block content}
<div class="card normal-card">
	{control grid}
</div>
{/block}
{block menu}
<nav>
	<a class="back icon-button" n:href="Homepage:default">Zpět</a>
	<a class="new icon-button" n:href="add">Nový</a>
</nav>
{/block}
{block scripts}
{include parent}
{/block}
