{block content}
<div class="menu-cards">

</div>
{/block}
{block menu}
<nav>
	<a class="cards icon-button" n:href="Homepage:default" data-toggle="tooltip" data-placement="right" title="Dashboard">Zpět</a>
</nav>
{/block}
{block scripts}
{include parent}
{/block}
