<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
{var ajax = $presenter->getParameter('ajax') == 'on'}
{var $address = explode(":",$presenter->getName())}
	<title>{if isset($title)}{$title}{else}Dashboard{/if}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{$basePath}/css/defaults.css">
	<link rel="stylesheet" href="{$basePath}/css/layout.css">
	<link rel="stylesheet" href="{$basePath}/css/base.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
</head>

<body class="{$address[0]|lower}">
	<header id="site-header">
	  <div class="container-vertical">
	    <div class="container-horizontal container-spread" id="site-heading">
	      <div id="site-title">{if isset($title)}{$title}{else}SPŠSE a VOŠ{/if}</div>
	      <div class="icons">
	        <span id="drawer-trigger" class="icon-button menu">Navigace</span>
	        {if $user->isLoggedIn()}<a n:href=":Service:Sign:out" class="out icon-button">Odhlášení</a>{else}<a n:href=":Service:Sign:in" class="in icon-button">Přihlášení</a>{/if}
	      </div>
	    </div>
			{ifset menu}
	    <div id="local-menu" class="container-horizontal container-spread">
	      {include menu}
	    </div>
			{/ifset}
	  </div>
	</header>
	<div id="content-wrapper">
		<div id="content">
			<main>
{snippet flashMessages}
 <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
{/snippet}
	{include content}
			</main>
		</div>
	</div>
	<div id="obfuscator"></div>
	<div id="drawer">
		<nav>
			<header>Navigace</header>
			{if ($user->isAllowed("Dashboard:Users",'default'))}<a n:href="Users:default" class="user">Uživatelé</a>{/if}
			{if ($user->isAllowed("Dashboard:Groups",'default'))}<a n:href="Groups:default" class="group">Skupiny</a>{/if}
			{if ($user->isAllowed("Dashboard:Files",'default'))}<a n:href="Files:default" class="file">Soubory</a>{/if}
			<a class="database" href="{$basePath}/adminer/?server=localhost&username=root">Databáze</a>
		</nav>
		{include '../../templates/globalNavigation.latte'}
	</div>
	{block scripts}
	<script src="//code.jquery.com/jquery-latest.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/grido/grido.js"></script>
	<script src="{$basePath}/js/grido/grido.nette.ajax.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script type="text/javascript">
		$(function () {
			$.nette.init();
		});
	</script>
	{/block}
	<footer id="site-footer">
		{include '../../templates/globalFooter.latte'}
	</footer>
</body>
</html>
