.container-vertical {
	display: flex;
	flex-direction: column;
}
.container-horizontal {
	display: flex;
	flex-direction: row;
}
.container-spread {
	justify-content: space-between;
}
body, #page {
	width: 100%;
	height: 100%;
}
body, #page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}
#site-header {
	display: flex;
	flex-wrap: nowrap;
}
#site-heading {
	padding: 15px;
}
#site-header .container-vertical {
	width: 100%;
}
#local-menu {
	padding: 5px;
}
#content-wrapper {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: none;
	height: 100%;
	overflow: auto;
	padding-top: 20px;
}
#content-wrapper > footer {
	padding: 20px;
}
.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}
#menu-context {
	padding: 20px 10px;
}
#content.limited-width {
	width: 916px;
	margin: 20px auto;
}
#obfuscator {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
}
#obfuscator.visible {
	display: block;
}
#drawer {
	position: absolute;
	top:0;
	right:-240px;
	width: 240px;
	height:100%;
	transform-style: preserve-3d;
  will-change: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  transition-duration: .2s;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
#drawer nav {
}
#drawer header {
	padding: 10px;
	font-size: 16pt;
}
#drawer.opened {
	transform: translateX(-240px);
}
#drawer nav a {
	flex-shrink: 0;
	padding: 16px 46px;
	display: block;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 24px;
}
.data-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: left;
}
.data-cards > * {
	margin-right: 10px;
	margin-bottom: 10px;
	min-width: 480px;
	max-width: 800px;
}
.menu-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
.menu-cards > * {
	margin-right: 10px;
	margin-bottom: 10px;
  width: 240px;
	height: 240px;
}
.card > footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.card > footer.inline-form-inside {
 display: block;
}
.card > footer.inline-form-inside form {
 display: flex;
 width: 100%;
}
.card > footer.inline-form-inside .fill-width {
 flex-grow:1;
}
.icons {
	display: flex;
	align-items: center;
}
@media (max-width: 916px){
	#content.limited-width {
		width: 100%;
		margin: 0;
	}
	article {
		margin: 5px 0;
	}
}
@media (max-width: 480px){
	.data-cards, .menu-cards {
		flex-direction: column;
		margin: 10px;
	}
	.card {
		display: block;
		width: 100%;
		margin-left:0;
		margin-right:0;
	}
	#content {
		margin: 0;
	}
}
