.center {text-align: center;}
h2 {
  margin:0;
  margin-top: 10px;
  font-weight: normal;
}
header#header {
 padding: 5px;
 padding-left: 60px;
 background-image: url('https://www.pslib.cz/st/dmp/www/images/icons/black/spsse.svg');
 background-repeat: no-repeat;
 background-size: 120px 120px;
 font-weight: bold;
}
footer#footer {
 margin: 0;
 padding: 5px;
 margin-top: 5px;
 font-size: 6pt;
 text-align: center;
 border-top: 1px solid silver;
}
footer#footer .page-even {
	float: left;
	width: 30px;
	text-align: left;
}
footer#footer .page-odd {
	float: right;
	width: 30px;
	text-align: right;
}
p {
	text-align: justify;
	margin: 0;
	padding: 0;
	margin-bottom: 0.3em;
}
h3 {
  margin-bottom:0;
}
section {
	margin-bottom: 5px;
}
table {
	margin: 0;
	width: 100%;
  border-collapse: collapse;
}
table.table tr td, table.table tr th {
	border: 1px solid gray;
  padding: 3px;
}
th, td {
    text-align: left;
    font-weight: normal;
}
td {
  font-weight: normal;
  font-size: 1.1em;
}
th {
  padding-top: 5px;
  font-weight: bold;
}
.no-bold, .no-bold td {font-weight: normal; font-size: 1em;}
td.center  {text-align: center;}
td.bottom, tr.bottom td {vertical-align: bottom;}
header#document-title {
	padding-top: 10px;
}
header#document-title h1 {
	text-align: center;
	font-weight: normal;
}
.signature {
  font-weight: normal;
  font-size: 0.8em;
	border-bottom: 1px dotted gray;
  vertical-align: bottom;
}
.spaced {
	padding-top: 20px;
}
